<div class="row">
  <form class="col s12" name="taskForm">
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Placeholder" id="task" type="text" class="validate" name="task">
        <label for="task">Task</label>
      </div>
    </div>
    <button> Send </button>
  </form>
</div>